APP_TITLE=Кошачий благотворительный фонд
DESCRIPTION=Сервис для поддержки котиков!
DATABASE_URL=sqlite+aiosqlite:///./qrkot.db
SECRET='Здесь указать секретный ключ'
FIRST_SUPERUSER_EMAIL='Электронная почта для первого суперпользователя'
FIRST_SUPERUSER_PASSWORD='Пароль для первого суперпользователя'
MIN_PASSWORD_LENGTH=3